<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"></meta>
        <link th:href="@{/resources/css/base/vuetify.min.css}" rel="stylesheet"></link>        
        <link th:href="@{/resources/css/master.css}" rel="stylesheet"></link>        
        <link th:href="@{/resources/css/base/material-icons.css}" rel="stylesheet"></link>
    </head>
    <body>        
    </body>
</html>
